*

!/**/
**/node_modules/

!/.github/CODEOWNERS
!/.github/workflows/*.yaml
!/.vscode/settings.json
!/.vscode/extensions.json
!/.vscode/tailwind.json
!/**/*.md
!/**/*.ts
!/**/*.tsx
!/**/*.css
!/**/*.mdx
!/**/deno.json
!/**/deno.jsonc
!/scripts/**/*.sh
!/.coderabbit.yaml
!/.gitignore
!/deno.lock
!/LICENSE

!/**/static/*

/**/_fresh/
node_modules/

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
